*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #EDEDED;
    font-size: 16px;
}


/*Header Styling*/

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header-text{
    font-size: 80px;
    font-weight: bold;
    color: #333333
}


/*Main body of the website*/

.main{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 20px;
}

.container{
    width:500px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
} 

.settings{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button{
    padding: 10px 5px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 3px 6px #0000001A;
}

button:hover{
    opacity: 70%;
}

/*Styling the inputs */

.color-pick {
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius:100%;
 }

input[type='color'] {
    width:100%;
    height:100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    transform: scale(1.5);
}

input[type="range"] {
    width: 100%;
    height: 2px;
    background: #404040;
    appearance: none;
    outline: none;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}


/* Media Query */

@media (max-width: 800px) {
    .header-text{
        font-size: 50px;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .container{
        height: 300px;
        width: 300px;
    }

}